.expandable-cards {
  display: flex;
  gap: 20px;
  width: 100%;
  min-height: 520px;
}

.card {
  border: 1px solid #ddd;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.35s ease;
  display: flex;
  flex-direction: column;
}

.card.expanded {
  flex: 3;
  padding: 20px;
}

.card.collapsed {
  flex: 1;
  max-width: 35%;
  display: flex;
  flex-direction: column;
}

.collapsed-container {
  display: flex;
  flex-direction: column;
  width: 35%;
  gap: 20px;
}

.collapsed .description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.youtube-wrapper {
  margin-top: 20px;
  width: 100%;
}

.youtube-wrapper iframe {
  width: 100%;
  height: 280px;
}
